body {
  background-image: url("images/fond_jaune.png");
}

#Container {
  width: 900px;
  margin: auto;
}

/*  Header */
header {
  background: url("images/separateur.png") repeat-x bottom;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

#titre_principal {
  display: flex;
  flex-direction: column;
}

#logo {
  display: flex;
  flex-direction: row;
  align-items: baseline;
}

header h1 {
  font-size: 2.5em;
  font-weight: normal;
  margin: 0 0 0 10px;
}

header h2 {
  font-size: 1.1em;
  font-weight: normal;
  margin-top: 0px;
}

#logo img {
  width: 50px;
  height: 50px;
}

/*  Navigation */
nav ul {
  display: flex;
  list-style-type: none;
}

nav li {
  margin-right: 15px;
}

nav a {
  font-size: 1.3em;
  text-decoration: none;
  padding-bottom: 3px;
  color: #181818;
}

nav a:hover {
  color: #760001;
  border-bottom: 3px solid #760001;
}
